@import '../../style/vars.scss';

.answer-timer-container {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    border-bottom: 1px solid $disabled;

    .progress {
        height: 5px;
        transition-duration: 0.5s;
        width: 0;
        transition-timing-function: linear;

    }
}